@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Style variables */

:root {
  --header-height: 3rem;

  --hue-color: 220;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #f2f6ff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.2 5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: #212124;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/* Index Styles */

.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section__title {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img {
  width: 120px;
}

.home__data {
  grid-column: 1/3;
  max-width: 476px;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

.objective__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.objective__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.objective__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.target__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.target__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.target__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* Login Styles */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  min-width: 275px;
  background: var(--container-color);
  border-radius: 22px;
  box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.5);
}

.center h1 {
  text-align: center;
  padding: 0 0 20px;
  margin-top: 20px;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt__field {
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.txt__field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  color: var(--text-color);
}

.txt__field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.txt__field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--first-color);
  transition: 0.5s;
}

.txt__field input:focus ~ label,
.txt__field input:valid ~ label {
  top: -5px;
  color: var(--first-color);
}

.txt__field input:focus ~ span,
.txt__field input:valid ~ span {
  width: 100%;
}

.login__caption {
  font-size: var(--small-font-size);
  margin: -5px 0 20px 5px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--first-color);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  border-color: var(--first-color);
  transition: 0.5s;
}

/* Inventory Styles */

.inventory__content {
  padding: 6rem 2rem;
}

.inventory__content > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  margin-bottom: 10px;
}

.inventory__content > ul > li {
  list-style: none;
  height: 44px;
  background: var(--container-color);
  padding: 8px 20px;
  margin: 5px;
  border-radius: 10px;
  letter-spacing: 1px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.inventory__content > ul > li.active {
  background: var(--first-color);
  color: white;
}

.inventory__content-search-bar {
  width: 100%;
  max-width: 768px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: var(--container-color);
  padding: 8px;
  margin: 5px;
}

.inventory__content-search-bar:focus {
  outline-color: var(--first-color);
}

#inventory {
  padding-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.inv__item {
  grid-column: span 2;
  padding: 20px;
  background: var(--container-color);
  border-radius: 22px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.inv__item i {
  font-size: 1.8rem;
  color: var(--first-color);
}

.inv__item i:hover {
  cursor: pointer;
}

.modal-background {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 100%;
  max-width: 768px;
  margin: 20px;
  background-color: var(--container-color);
  border-radius: 16px;
}

.inv__item__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.inv__item__detail .left .buttons-container {
  display: flex;
}

.inv__item__detail .left .close-button {
  margin-top: 24px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(234, 68, 53);
  color: white;
  display: inline-block;
}

.inv__item__detail .left .notification-button {
  margin-left: 16px;
  margin-top: 24px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--first-color);
  color: white;
  display: inline-block;
}

.inv__item__detail .compact-screen-close-button {
  display: none;
}

.inv__item__detail .compact-screen-notification-button {
  display: none;
}

.inv__item__detail .left .close-button:hover {
  cursor: pointer;
}

.inv__item__detail .left .notification-button:hover {
  cursor: pointer;
}

.inv__item__detail .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.inv__item__detail .right img {
  height: 300px;
  border-radius: 16px;
}

.file-upload-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-container__form #file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-container__form .file-upload-label {
  width: 100%;
  text-align: center;
  color: var(--body-color);
  background-color: var(--title-color);
  display: inline-block;
  padding: 0.8rem 0;
  cursor: pointer;
  border-radius: 0.8rem;
}

.file-upload-container__form #submit-file {
  margin-top: 1.6rem;
}

/* Resources styles */

.resources__content {
  padding: 6rem 2rem;
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }
}

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .objective__container,
  .target__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .objective__container {
    column-gap: 5rem;
  }

  .objective__img {
    width: 350px;
  }

  .objective__description {
    text-align: initial;
  }

  .target__container {
    column-gap: 5rem;
  }

  .target__img {
    width: 350px;
  }

  .target__description {
    text-align: initial;
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .inv__item__detail {
    flex-direction: column;
  }

  .inv__item__detail .left .close-button {
    display: none;
  }

  .inv__item__detail .left .notification-button {
    display: none;
  }

  .inv__item__detail .compact-screen-close-button {
    margin-top: 24px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(234, 68, 53);
    color: white;
    display: inline-block;
  }

  .inv__item__detail .compact-screen-notification-button {
    margin-top: 24px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--first-color);
    color: white;
    display: inline-block;
  }

  .inv__item__detail .left {
    display: flex;
    height: auto;
  }

  .inv__item__detail .right img {
    margin-top: 24px;
    height: 200px;
    border-radius: 16px;
  }
}
